@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

body {
  background-color: var(--green);
}

:root {
  /* Palette */
  --white: #fff;
  --black: #42413d;
  --gray: #f6f5f1;
  --gray-dark: #d6d5d2;
  --darkest-green: #042940;
  --dark-green: #005c53;
  --green: #9fc131;
  --light-green: #dbf227;
  --lightest-green: #d6d58e;
}

main {
  font-family: "Kdam Thmor Pro", sans-serif;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  background: var(--light-green);
}
.menu {
  font-size: clamp(1rem, -0.875rem + 8.333333vw, 1.5rem);
  position: sticky;
  top: -15px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.1vh 1vw;
  justify-content: center;
  padding: 1rem 0;
  background: linear-gradient(
    rgba(16, 52, 198, 0) 0%,
    #9fc131ff 1%,
    #dbf227ff 80%,
    rgba(16, 52, 198, 0) 100%
  );
}
.menu a {
  color: var(--lightest-green);
  text-decoration: none;
  background-color: var(--darkest-green);
  padding: 1vh 2vw;
  border-radius: 15px;
  margin: 0.3vh 0;
}

.soc-media a {
  color: var(--lightest-green);
  font-size: 3rem;
  text-decoration: none;
  background-color: hsl(200, 80%, 20%);
  padding: 1vh 1vw;
  border-radius: 15px;
}

nav a:hover {
  position: relative;
  top: 1px;
  left: 1px;
  color: var(--darkest-green);
  background-color: var(--light-green);
  border: var(--darkest-green) 1px solid;
  box-shadow: 2px 2px 7px 2px #42413d;
}

nav a:active {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: 1px 1px 5px 1px #42413d;
}

.section {
  padding-top: 10vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  scroll-snap-align: start;
}

article {
  font-size: clamp(1rem, -0.875rem + 8.333333vw, 1.2rem);
  line-height: 1.8;
  background-color: hsla(100, 0%, 90%, 0.3);
  border-radius: 2rem;
  margin: 0 10px;
  padding: 3vh 3vw;
}

/*https://mycolor.space/gradient3?ori=to+top&hex=%23005C53&hex2=%239FC131&hex3=%23DBF227&submit=submit*/
#intro {
  background-image: linear-gradient(
    to top,
    #005c53,
    #007059,
    #1e8558,
    #409852,
    #66ab47,
    #7cb741,
    #94c239,
    #adcd30,
    #b8d62e,
    #c3e02d,
    #cfe92a,
    #dbf227
  );
}

#work {
  background-image: linear-gradient(
    to top,
    #005c53,
    #007059,
    #1e8558,
    #409852,
    #66ab47,
    #7cb741,
    #94c239,
    #adcd30,
    #b8d62e,
    #c3e02d,
    #cfe92a,
    #dbf227
  );
}

#education {
  background-image: linear-gradient(
    to top,
    #005c53,
    #007059,
    #1e8558,
    #409852,
    #66ab47,
    #7cb741,
    #94c239,
    #adcd30,
    #b8d62e,
    #c3e02d,
    #cfe92a,
    #dbf227
  );
}

#hobby {
  background-image: linear-gradient(
    to top,
    #005c53,
    #007059,
    #1e8558,
    #409852,
    #66ab47,
    #7cb741,
    #94c239,
    #adcd30,
    #b8d62e,
    #c3e02d,
    #cfe92a,
    #dbf227
  );
}

#contact {
  background-image: linear-gradient(
    to top,
    #005c53,
    #007059,
    #1e8558,
    #409852,
    #66ab47,
    #7cb741,
    #94c239,
    #adcd30,
    #b8d62e,
    #c3e02d,
    #cfe92a,
    #dbf227
  );
}

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1vh 1vw;
}

.photos img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
/*Table*/

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 900px;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #dbf22733;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: left;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #d6d58e;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #d6d58e;
    display: block;
    font-size: 0.8em;
    text-align: left;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

/*Layout*/
@media (max-width: 700px) {
  .photos {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
